<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.college.repository.RolePermissionDao">

	<resultMap id="resultMap" type="com.college.entity.RolePermission">
        <result property="id" column="id"/>
        <result property="roleId" column="roleId"/>
        <result property="permissionId" column="permissionId"/>
        <result property="status" column="status"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
		 <result property="maxId" column="maxId"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,roleId,permissionId,status,createTime,updateTime
	</sql>
	
	<!-- 获取单个实体bean -->
	<select id="get" parameterType="Integer" resultType="com.college.entity.RolePermission">
		SELECT <include refid="columns" />
		FROM role_permission
		WHERE id=#{id}
	</select>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.college.entity.RolePermission" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO role_permission (
        	roleId,
        	permissionId,
        	status,
        	createTime,
        	updateTime
		) VALUES (
        	#{roleId},
        	#{permissionId},
        	#{status},
        	#{createTime},
        	#{updateTime}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE role_permission
		<set>
			<if test="roleId!=null and roleId!='' ">
				roleId = #{roleId},
			</if>
			<if test="permissionId!=null and permissionId!='' ">
				permissionId = #{permissionId},
			</if>
			<if test="status!=null and status!='' ">
				status = #{status},
			</if>
			<if test="createTime!=null and createTime!='' ">
				createTime = #{createTime},
			</if>
			<if test="updateTime!=null and updateTime!='' ">
				updateTime = #{updateTime}
			</if>
		</set>
        WHERE 
	        id = #{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Integer">
	     DELETE FROM role_permission WHERE id=#{id}
	</delete>

	<!-- 查询分页列表 -->
	<select id="searchPageList" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM role_permission
		<where>
	       <if test="searchFields.roleId != null and searchFields.roleId != ''">
				AND roleId = #{searchFields.roleId}
			</if>
	       <if test="searchFields.permissionId != null and searchFields.permissionId != ''">
				AND permissionId = #{searchFields.permissionId}
			</if>
	       <if test="searchFields.status != null and searchFields.status != ''">
				AND status = #{searchFields.status}
			</if>
	       <if test="searchFields.createTime != null and searchFields.createTime != ''">
				AND createTime = #{searchFields.createTime}
			</if>
	       <if test="searchFields.updateTime != null and searchFields.updateTime != ''">
				AND updateTime = #{searchFields.updateTime}
			</if>
		</where>
	</select>
	
	<!--条件查询分页记录总数-->
	<select id="getTotalCount" resultType="Long">
		SELECT count(1)
		FROM role_permission
		<where>
	       <if test="searchFields.roleId != null and searchFields.roleId != ''">
				AND roleId = #{searchFields.roleId}
			</if>
	       <if test="searchFields.permissionId != null and searchFields.permissionId != ''">
				AND permissionId = #{searchFields.permissionId}
			</if>
	       <if test="searchFields.status != null and searchFields.status != ''">
				AND status = #{searchFields.status}
			</if>
	       <if test="searchFields.createTime != null and searchFields.createTime != ''">
				AND createTime = #{searchFields.createTime}
			</if>
	       <if test="searchFields.updateTime != null and searchFields.updateTime != ''">
				AND updateTime = #{searchFields.updateTime}
			</if>
		</where>
	</select>

	<!-- 查询列表 -->
	<select id="findListByParams" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM role_permission
		<where>
	       <if test="searchFields.roleId != null and searchFields.roleId != ''">
				AND roleId = #{searchFields.roleId}
			</if>
	       <if test="searchFields.permissionId != null and searchFields.permissionId != ''">
				AND permissionId = #{searchFields.permissionId}
			</if>
	       <if test="searchFields.status != null and searchFields.status != ''">
				AND status = #{searchFields.status}
			</if>
	       <if test="searchFields.createTime != null and searchFields.createTime != ''">
				AND createTime = #{searchFields.createTime}
			</if>
	       <if test="searchFields.updateTime != null and searchFields.updateTime != ''">
				AND updateTime = #{searchFields.updateTime}
			</if>
		</where>
		ORDER BY
		createTime DESC
	</select>
	
	<!-- 查询单个 -->
	<select id="searchOne" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM role_permission
		<where>
	       <if test="searchFields.roleId != null and searchFields.roleId != ''">
				AND roleId = #{searchFields.roleId}
			</if>
	       <if test="searchFields.permissionId != null and searchFields.permissionId != ''">
				AND permissionId = #{searchFields.permissionId}
			</if>
	       <if test="searchFields.status != null and searchFields.status != ''">
				AND status = #{searchFields.status}
			</if>
	       <if test="searchFields.createTime != null and searchFields.createTime != ''">
				AND createTime = #{searchFields.createTime}
			</if>
	       <if test="searchFields.updateTime != null and searchFields.updateTime != ''">
				AND updateTime = #{searchFields.updateTime}
			</if>
		</where>
		limit 1
	</select>

	<select id="searchByRoleIds" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM role_permission
		WHERE status = TRUE
		<if test="list != null">
			AND roleId IN
			<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				#{item, jdbcType=INTEGER}
			</foreach>
		</if>
	</select>


</mapper> 
