<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.college.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.college.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="UserName" property="username" jdbcType="VARCHAR"/>
        <result column="RealName" property="realname" jdbcType="VARCHAR"/>
        <result column="Password" property="password" jdbcType="VARCHAR"/>
        <result column="Salt" property="salt" jdbcType="VARCHAR"/>
        <result column="IdCard" property="idcard" jdbcType="VARCHAR"/>
        <result column="AdminMark" property="adminmark" jdbcType="TINYINT"/>
        <result column="RoleName" property="rolename" jdbcType="VARCHAR"/>
        <result column="UserState" property="userstate" jdbcType="TINYINT"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UseResultMap" type="com.college.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="UserName" property="username" jdbcType="VARCHAR"/>
        <result column="RealName" property="realname" jdbcType="VARCHAR"/>
        <result column="AdminMark" property="adminmark" jdbcType="TINYINT"/>
        <result column="RoleName" property="rolename" jdbcType="VARCHAR"/>
        <result column="UserState" property="userstate" jdbcType="TINYINT"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="TeacherResultMap" type="com.college.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="UserName" property="username" jdbcType="VARCHAR"/>
        <result column="RealName" property="realname" jdbcType="VARCHAR"/>
        <result column="IdCard" property="idcard" jdbcType="VARCHAR"/>
        <result column="UserState" property="userstate" jdbcType="TINYINT"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="StudentResultMap" type="com.college.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="UserName" property="username" jdbcType="VARCHAR"/>
        <result column="RealName" property="realname" jdbcType="VARCHAR"/>
        <result column="IdCard" property="idcard" jdbcType="VARCHAR"/>
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, UserName,RealName, Password,IdCard, AdminMark, RoleName, UserState, CreateTime, UpdateTime
    </sql>

    <sql id="Use_Column_List">
        id, UserName,RealName ,IdCard, UserState, CreateTime, UpdateTime
    </sql>

    <sql id="Teacher_Column_List">
        id, UserName,RealName ,IdCard, UserState, CreateTime, UpdateTime
    </sql>

    <sql id="Student_Column_List">
        id, UserName,RealName ,IdCard, CreateTime, UpdateTime
    </sql>


    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Student_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.college.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                UserName,
            </if>
            <if test="password != null">
                Password,
            </if>
            <if test="idcard != null">
                IdCard,
            </if>
            <if test="adminmark != null">
                AdminMark,
            </if>
            <if test="rolename != null">
                RoleName,
            </if>
            <if test="userstate != null">
                UserState,
            </if>
            <if test="createtime != null">
                CreateTime,
            </if>
            <if test="updatetime != null">
                UpdateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="idcard != null">
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="adminmark != null">
                #{adminmark,jdbcType=TINYINT},
            </if>
            <if test="rolename != null">
                #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="userstate != null">
                #{userstate,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.college.entity.User">
        update user
        <set>
            <if test="username != null">
                UserName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                Password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="idcard != null">
                IdCard = #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="adminmark != null">
                AdminMark = #{adminmark,jdbcType=TINYINT},
            </if>
            <if test="rolename != null">
                RoleName = #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="userstate != null">
                UserState = #{userstate,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                CreateTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <if test="username != null and username != ''">
            AND UserName = #{username}
        </if>
        <if test="password != null and password != ''">
            AND PassWord = #{password}
        </if>
    </select>

    <select id="searchStudent" resultMap="StudentResultMap">
        select
        <include refid="Student_Column_List"/>
        from user
        <where>
            <if test="searchFields.username != null and searchFields.username != ''">
                AND UserName = #{searchFields.username}
            </if>
            <if test="searchFields.password != null and searchFields.password != ''">
                AND PassWord = #{searchFields.password}
            </if>
            <if test="searchFields.rolename != null and searchFields.rolename != ''">
                AND RoleName = #{searchFields.rolename}
            </if>
        </where>
    </select>

</mapper>