<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		
		<!--<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>-->
		<!--<link rel="stylesheet/less" type="text/css" href="css/common.less"/>
		<link rel="stylesheet/less" type="text/css" href="css/about.less"/>
		<script src="js/less.min.js"></script>-->
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/about.css"/>
	</head>
	<body>
		<header>
			<div class="box">
				<img src="../img/logo.png"/>
				<a href="views/login.vm" class="loginBtn">登陆</a>
			</div>
		</header>
		<nav>
			<a href="views/index.vm">网站首页</a>
			<a><div class="aboutBtn deepBlue">关于我们</div>
				<div class="navTwo aboutA">
					<div>学校介绍</div>
					<div>基地介绍</div>
					<div>成果展示</div>
					<div>师资队伍</div>
				</div>
			</a>
			<a><div class="manageBtn">实习管理</div>
				<div class="navTwo manageA">
					<div>实习流程</div>
					<div>岗位目标与要求</div>
					<div>企业产品标准</div>
					<div>安全操作规范</div>
					<div>实习考核标准</div>
				</div>
			</a>
			<a><div class="teachBtn">教学资源</div>
				<div class="navTwo teachA">
					<div>企业项目</div>
					<div>资源库</div>
					<!--<div>教学视频</div>-->
				</div>
			</a>
			<a><div class="innovaBtn">创新创业</div>
				<div class="navTwo innovaA">
					<div>众创空间介绍</div>
					<div>学生创新</div>
					<div>校企合作项目</div>
					<div>技术服务</div>
				</div>
			</a>
			<a>
				<div class="socialBtn">社会培训</div>
				<div class="navTwo socialA">
					<div>职业鉴定</div>
					<div>员工培训</div>
					<div>学生实习</div>
				</div>
			</a>
			<a><div class="studentBtn">学生管理</div>
				<div class="navTwo studentA">
					<div>学生考勤管理</div>
					<div>安全责任书</div>
					<div>实习手册</div>
					<div>顶岗实习评价表</div>
				</div>
			</a>
		</nav>
		<div class="content">
			<ul class="leftNav">
				<li class="btnBlue">学校介绍</li>
				<li>基地介绍</li>
				<li>成果展示
					<!--<p><a href="detaiAbout.html">成功展示</a></p>
					<p><a href="detaiAbout.html">成功展示</a></p>-->
				</li>
				<li>师资队伍
					<p><a href="#">企业教师</a></p>
					<p><a href="#">学校教师</a></p>
				</li>
			</ul>
			<div class="rightBox ri1">
				<h2 class="tc mt30 mb20">学校介绍</h2>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。
       <br/>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。

       <br/>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
			</div>
			<div class="rightBox ri2">
				<h2 class="tc mt30 mb20">基地介绍</h2>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。
       <br/>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。

       <br/>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
			</div>
			<div class="rightBox ri3">
				<h2 class="tc mt30 mb20">成果展示</h2>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<div id="page" class="page_div"></div>
			</div>
			<div class="rightBox ri4">
				<h2 class="tc mt30 mb20">师资队伍</h2>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。
       <br>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。

       <br>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
			</div>
			<div class="twoContent3 co" style="display: block;">
			<div class="rightBox"  style="display: none;">
				<h2 class="tc mt30 mb20">企业教师</h2>
				
				<ul class="teacher">
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师<h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
				</ul>
				<div id="page2" class="page_div"></div>
				
			</div>
			<div class="rightBox" style="display: none;">
				<h2 class="tc mt30 mb20">学校教师</h2>
				
				<ul class="teacher">
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师<h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
				</ul>
				<div id="page2" class="page_div"></div>
			</div>
		</div>
		</div>
		
		<footer>
			<p class="pt10">中华人民共和国教育部 中国教育网 中国高职高专教育网 河北省教育厅 河北省高职高专教育网 中国高校之窗 长城网</p>
			<p>学院地址：石家庄市中山西路长兴街12号 邮编：050081 电话：0311-85333755 招生热线：0311-85333630，0311-68092994</p>
			<p>设计单位：石家庄职业技术学院  软件学院 冀ICP备14001874号-1</p>
		</footer>
		<script src="../js/jquery-3.1.0.js"></script>
		
		<!--<script src="js/swiper.min.js"></script>-->
		<script src="../js/base.js"></script>
		<script src="../js/fenye.js"></script>
		<script src="../js/about.js"></script>
		
		
	</body>
</html>
