<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		
		<!--<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>-->
		<!--<link rel="stylesheet/less" type="text/css" href="css/common.less"/>
		<link rel="stylesheet/less" type="text/css" href="css/about.less"/>
		<script src="js/less.min.js"></script>-->
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/about.css"/>
	</head>
	<body>
		<header>
			<div class="box">
				<img src="../img/logo2.png"/>
				<a href="views/login.vm" class="loginBtn">登陆</a>
			</div>
		</header>
		<nav>
			<a href="views/index.vm">网站首页</a>
			<a><div class="aboutBtn deepBlue">关于我们</div>
				<div class="navTwo aboutA">
					<div>学校介绍</div>
					<div>基地介绍</div>
					<div>成果展示</div>
					<div>师资队伍</div>
				</div>
			</a>
			<a><div class="manageBtn">实习管理</div>
				<div class="navTwo manageA">
                    <div>规章制度</div>
                    <div>实习流程</div>
                    <div>岗位目标与要求</div>
                    <div>企业产品标准</div>
                    <div>安全操作规范</div>
                    <div>实习考核标准</div>
				</div>
			</a>
			<a><div class="teachBtn">教学资源</div>
				<div class="navTwo teachA">
					<div>企业项目</div>
					<div>资源库</div>
					<!--<div>教学视频</div>-->
				</div>
			</a>
			<a><div class="innovaBtn">创新创业</div>
				<div class="navTwo innovaA">
					<div>众创空间介绍</div>
					<div>学生创新</div>
					<div>校企合作项目</div>
					<div>技术服务</div>
				</div>
			</a>
			<a>
				<div class="socialBtn">社会培训</div>
				<div class="navTwo socialA">
					<div>职业鉴定</div>
					<div>员工培训</div>
					<div>学生实习</div>
				</div>
			</a>
			<a><div class="studentBtn">学生管理</div>
				<div class="navTwo studentA">
					<div>学生考勤管理</div>
					<div>安全责任书</div>
					<div>实习手册</div>
					<div>顶岗实习评价表</div>
				</div>
			</a>
		</nav>
		<div class="content">
			<ul class="leftNav">
				<li class="btnBlue">学校介绍</li>
				<li>基地介绍</li>
				<li>成果展示
					<!--<p><a href="detaiAbout.html">成功展示</a></p>
					<p><a href="detaiAbout.html">成功展示</a></p>-->
				</li>
				<li>师资队伍
					<p><a href="#">企业教师</a></p>
					<p><a href="#">学校教师</a></p>
				</li>
			</ul>
			<div class="rightBox ri1">
				<h2 class="tc mt30 mb20">学校介绍</h2>
				
				<img src="../img/sImg.jpg">
				<p class="word">
                    石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。<br/>
                    经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。<br/>
                    近年来学院不断加大高层次人才引进力度，形成了以博士、硕士和双师型教师为主的骨干教师队伍。现有教职工850余人，国家级、省级教学名师各1人，省突出贡献中青年专家2人，省“三三三人才工程”第二层次人选3人，省优秀教师2人，省优秀教育工作者1人，省级教学团队2个，全国职业教育先进单位1个，省级教育系统先进集体2个。派驻企业特派员100余人。在选派教师出国进修的同时，还聘请了多名外籍教师。<br/>
                    学院面向河北、河南、湖北、湖南等17省招生，现有全日制在校生12000余人，成人教育本专科在籍生10000余人。<br/>
                    学院高度重视学生就业指导工作，2017年毕业生就业率达98.89%。毕业生以其专业基础扎实、专业技能熟练、动手能力强，深受用人单位的欢迎。多年来，就业率和专接本率一直在省内名列前茅。学院多次荣获“河北省职业教育先进单位”、“河北省大中专毕业生就业工作先进集体”、“河北省普通高校示范性就业指导中心”称号。<br/>
                    学院办学条件充实。现有教学仪器设备总值1亿余元。拥有覆盖全院范围的有线无线一体化网络、在线注册11000多用户，构成了覆盖全院的现代化教学平台和信息交流平台。现代化的图书馆不仅藏书丰富、信息量大，而且有先进的图书检索系统和电子阅览室。目前，图书馆纸质资源、电子资源共计达100万册。建有2个共6万平方米的多功能教学楼和2个技能实训楼，88个校内实训基地，180个稳定的校外实习基地，校企共建10余个研发中心(工作室)。设有国家职业技能鉴定所，能为在校生进行相关专业的职业技能鉴定。学院生活文化体育设施齐全，建有大学生公寓、科技活动中心、球类馆、游泳池和高标准体育中心。<br/>
                    学院坚持“以人为本、知行合一”的办学理念，秉承“崇德、修身、博学、笃行”之校训，践行“求是、求精、求新”之校风，定位于“融入社会发展和科技进步，培养具有良好职业精神和能力的高素质技术技能人才”，不断深化改革，加强管理，努力推进规模、结构、质量和效益的协调发展，努力建设“人民满意、特色鲜明、区域一流、国内知名”的高职院校。<br/>
				</p>
				

			</div>
			<div class="rightBox ri2">
				<h2 class="tc mt30 mb20">基地介绍</h2>
				
				<img src="../img/img1.jpg">
				<div class="word">
                    实训基地介绍
                    石家庄职业技术学院与石家庄数英仪器有限公司（原石家庄市无线电四厂）通过“校企共建，资源共享，合作共赢”的方式，合作建立了“校外生产性实训基地”。该基地早在2004年开始建设，由于场地小、容纳学生数量少，于2013年在河北鹿泉经济开发区重新建设了2400平米的专用于教学的生产性实训基地，在实训车间、培训区域、实训设备、教学设施和管理人员等方面初具规模，具备开展实习实训的硬、软件基础。<br/>
				    <h2> 一、合作企业技术实力雄厚，社会知名度高</h2>
                    石家庄数英仪器有限公司（原石家庄市无线电四厂）始建于1966年，河北省高新技术企业，通过GB/T19001-2008质量体系及双软企业认证，是全国电子仪器行业重点骨干企业。公司近几年年营业额均超过3500万元，产品主要用于各高校实训设备、军品配套测试测量设备、质量技术监督机构检测设备、工矿企业检测设备等，而且还远销美国、俄罗斯、德国、澳大利亚、印度、东南亚等国家及地区，市场份额位居同行业前列。该企业长期致力于先进电子测量仪器的研制和生产，主导产品达到国内领先水平，部分产品达到国际先进水平，主要产品有：信号发生器、数字多用表、逻辑分析仪、频谱分析仪、程控稳压电源等教学科研仪器仪表。企业历经数十年技术技能积累，汇集了一批电子仪器、信息技术、数字技术、工艺结构、管理等领域的高科技人才。近年来，公司共承担了十余项国家、省级和市级的科研课题，其中DDS函数信号发生器和数字式频率特性测试仪获得了国家科技型中小企业技术创新基金的支持，荣获国家重点新产品证书。同时，石家庄数英仪器有限公司从创建伊始便具有很强的社会责任感，每年都积极接纳各类院校不同层次学生到企业实习实训，与当地很多院校建立起了稳固的校企合作关系。
                <h2> 二、校企合作基础稳固，培训机制健全</h2>
                    石家庄职业技术学院早在2001年就与石家庄数英仪器有限公司开展了多层次全方位的校企合作，在课程实训，生产实习，顶岗实习，学生就业等方面建立了稳定长期的合作关系，在2004年成为学院首批优质校企合作企业。至今，学院电类专业学生每年到石家庄数英仪器有限公司500余人次，累计总实习人数6000余人次。同时，每年接收学院顶岗实习学生30余人次，接收毕业生就业20余人次。现已成为学院稳定的实习实训、顶岗实习、毕业生就业的合作企业。基地不但接受学院学生实习实训，还接受全国各地院校如桂林电子科技大学、河北科技大学、石家庄铁道大学、河北师范大学、石家庄信息工程职业学院等大中专院校学生实习实训。
                    为了进一步加强校企合作，双方按照“共建，共享，共赢”的原则，共同签订协议，携手筹建“厂中校”，在企业内共同建立“石家庄职业技术学院校外生产性实训基地”，学院提供教学实训设备和必备的教学基础设施，企业提供车间场地、生产性实训设备以及开展实践教学必备的配套实施。双方共同制定培养目标、培训大纲、教学实施计划和实训指导书，共同营造职业化育人环境，为开展更深层次的校企合作提供了必备的软、硬件条件。
                    <h2>三、基地硬件环境优良，配套设施基本具备</h2>
                    校企共建的生产性实训基地坐落在河北鹿泉经济开发区石家庄数英仪器有限公司的新建厂区中。河北鹿泉经济开发区是经河北省政府批准建立的省级高新技术产业开发区，并于2011年审批成为石家庄·中国半导体光谷、石家庄信息产业基地。目前，开发区以发展电子信息业、现代服务业为主导，现有生产性企业150余家，5个国家级和部级研发中心，2个国家重点实验室。开发区内有中国规模最大的硅外延材料生产基地——河北普兴电子材料有限公司；目前国内最大的微波/射频集成电路供应商——河北博威集成电路有限公司；由中国电子科技集团公司第五十四研究所和美国哈里斯公司（HARRIS)共同出资建立的合资公司——河北远东哈里斯通信有限公司；工信部、河北省电子信息产业明星企业——河北远东通信系统工程有限公司；由中国电子科技集团公司第十三研究所和河北省信息产业投资有限公司共同出资组建的高新技术企业——同辉电子科技股份有限公司。实训基地设在有大量电子信息类企业的开发区中，必将成为园区企业在职员工技能培训的主要场所，为基地后期扩大规模发展提供了条件。同时，开发区周边地区共有科研机构60多家，科技人员1万多人，有高等院校27所，在校学生10万余人。这些科研院所和高校为实训基地的发展提供了必备的科技人才和实习实训生源。实训基地布局图如图3-1所示。
                	<img style="height: " src="../img/buju.png"/>
					<p style="text-align: center">图3-1 实训基地现场布局图</p>

                    实训基地建筑面积2000平方米，产品展示厅150平方米，多媒体教室140平方米。同时，配备实训生产线八条,包括：手工焊接流水线一条；组装流水线一条；电源产品调试生产线两条；信号源产品调试生产线两条；电子应用产品调试线两条。已具备部分生产和检测设备。配套教学实训区包括：培训教室（2个）、测试区、老化区、品鉴区、中转库、办公区、会议室等。在基地还建有教师科研工作室，企业大师工作室，学生创新工作室，为教师、企业科技人员和学生提供一个创新平台。
                        <h2>四、校企共同开发课程，教学资源丰富</h2>
                    在课程建设基础方面，现今已有2门省级精品课程和2门校级精品课程在实训基地进行现场授课及实训，其中王薇教授的省级精品资源共享课《电子技能与工艺》在课程建设之初就与合作企业共同开发教学项目，将企业的实际产品“直流稳压电源”项目作为该课程的教学内容之一，并在企业进行现场教学，从方案选择、产品设计到电路板制作、组装调试、工艺文件编制等教学环节都在企业指导教师和校内主讲教师的共同指导下完成。同时这些课程各种教学资源都已上传至学院的网络教学平台上，学生可以利用业余时间在网上学习课程内容，相互交流学习心得，查阅相关资料，阅读有关专业书籍，利用试题库进行自我测评，最后由企业指导教师和学校教师共同给出评价。另外在校外实训基地承担了“现代工业自动化监测与控制技术职业能力培训”、“智能电子产品设计与开发职业能力培训”两项国家骨干教师培训项目，取得了良好的效果。
                            <h2>五、师资结构合理，教科研成果显著</h2>
                    实训基地共有专兼职教师20人，其中来自学校教师16人，正高级职称5人，副高级职称6人，博士3人，在读博士1人，硕士13人，双师素质教师15人，教师队伍具有较丰富的教科研实践经验，2014年系部的教学团队被河北省教育厅授予“河北省教育系统先进集体”称号。团队教师获得 “河北省师德先进个人”、“石家庄市优秀教师”、“石家庄市优秀科技工作者”等荣誉称号，本系部教师积极创新、团结协作连续两年获“石家庄职业技术学院先进集体”荣誉称号。近年来，师资团队主持省部级以上教改、科研课题11项，市级课题30多项，院级课题多项，发明专利3项，发表SCI检索论文2篇，EI检索论文10余篇，中文核心论文60多篇，省级论文200余篇，出版教材达20多部，获得市级科技进步二等奖1项，获得省科技进步二、三等奖各1项，获得河北省优秀新产品一、二等奖各1项，获得河北省高等教育学会科学研究成果一等奖二等奖各1项，累计完成各类技术服务项目10余项。在指导学生技能大赛方面，团队教师指导学生获得“全国大学生电子设计竞赛”全国一等奖2项，全国二等奖1项，河北省一等奖6项、二等奖7项、三等奖4项。教师参加的各项技能大赛中获得河北省团体一等奖，河北省团体二等奖2次，河北省团体三等奖3次，个人河北省一等奖，二等奖和三等奖多次。
				</div>
				

			</div>
			<div class="rightBox ri3">
				<h2 class="tc mt30 mb20">成果展示</h2>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<p class="gain">
					<a href="views/detaiAbout.vm">xxxxxxxxxxxxx成果1的展示</a>
					<span>2018-12-16</span>
				</p>
				<div id="page" class="page_div"></div>
			</div>
			<div class="rightBox ri4">
				<h2 class="tc mt30 mb20">师资队伍</h2>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。
       <br>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
				
				<img src="../img/img1.jpg">
				<p class="word">
					 石家庄职业技术学院（原石家庄大学）创建于1984年，是经国家教育部批准、石家庄市政府主办的一所全日制普通高等院校；是河北省重点建设的示范性高职院校;是国家第二批现代学徒制试点单位。2005年通过教育部高职高专人才培养水平评估，获得优秀。2013年荣获“省会平安高校建设先进单位”和“全国职业院校魅力校园”。2016年入选“国家级优质高等职业院校建设立项单位”。在中国科学评价研究中心等部门联合发布的2017年中国高职高专院校竞争力排行榜上位列全国第73位，全省第3位。

       <br>经过三十多年的建设，学院已发展成为以全日制高等职业教育为主体，以广播电视教育（开放教育）、社区教育为“两翼”，多种办学形式并存的办学格局，并努力拓宽职业教育办学途径和服务领域，着力打造“三位一体”的开放性职业教育体系。目前，学院设有管理系、经济贸易系、信息工程系、建筑工程系、食品与药品工程系、机电工程系、电气与电子工程系、艺术设计系、体育系、公共外语部、公共体育部、动画学院、马克思主义学院、继续教育学院、软件学院等九系二部四学院。同时，校企共建混合所有制二级学院6个，开设电子信息类、土木建筑类、装备制造类、财经商贸类、媒体传播类、旅游类等50多个专业，其中有河北省高职高专教育示范专业6个。有国家级精品资源共享课程2门，省级精品资源共享课程1门，省级精品课程11门。影视动画实训基地、机电一体化实训基地为中央财政支持的职业教育实训基地，建筑技术实训基地为河北省职业教育实训基地。
				</p>
			</div>
			<div class="twoContent3 co" style="display: block;">
			<div class="rightBox"  style="display: none;">
				<h2 class="tc mt30 mb20">企业教师</h2>
				
				<ul class="teacher">
					<!--<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师<h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>-->
				</ul>
				<div id="page2" class="page_div"></div>
				
			</div>
			<div class="rightBox" style="display: none;">
				<h2 class="tc mt30 mb20">学校教师</h2>
				
				<ul class="teacher">
					<!--<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师<h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>
					<li>
						<img src="../img/img6.jpg">
						<div class="word1">
							<h3>张三    特级教师</h3>
							<p>
								Pellentesque quam est, auctor ut neque ac, lacinia posuere nisi. Nunc enim mauris, sagittis sed tortor eu, tristique tristique erat. Donec consectetur euismod sem vel laoreet. Donec vitae neque rutrum lectus faucibus aliquet. Nam vel odio vitae diam venenatis facilisis. Quisque imperdiet pellentesque orci a sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed cursus nibh non ultricies aliquam. Aenean egestas auctor ipsum, at ullamcorper sapien eleifend eu. Sed gravida mauris eleifend iaculis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel libero eu mauris convallis condimentum nec id nisl. Nulla auctor odio in ullamcorper congue. Quisque venenatis ac dui quis pretium.
							</p>
						</div>
					</li>-->
				</ul>
				<div id="page2" class="page_div"></div>
			</div>
		</div>
		</div>
		
		<footer>
			<p class="pt10">中华人民共和国教育部 中国教育网 中国高职高专教育网 河北省教育厅 河北省高职高专教育网 中国高校之窗 长城网</p>
			<p>学院地址：石家庄市中山西路长兴街12号 邮编：050081 电话：0311-85333755 招生热线：0311-85333630，0311-68092994</p>
			<p>设计单位：石家庄职业技术学院  软件学院 冀ICP备14001874号-1</p>
		</footer>
		<script src="../js/jquery-3.1.0.js"></script>
		
		<!--<script src="js/swiper.min.js"></script>-->
		<script src="../js/base.js"></script>
		<script src="../js/fenye.js"></script>
		<script src="../js/about.js"></script>
		
		
	</body>
</html>
