<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>创建页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/adminCss.css"/>
    <script src="../../js/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../img/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../img/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="../../img/zh-cn.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
<div class="adminHeader"><img src="img/logo2.png">信息管理系统界面</div>
    <ul class="adminNav">
        <li><a href="adminNotice.vm">新闻管理</a></li>
        <li><a href="adminAbout.vm">关于我们管理</a></li>
        <li><a href="adminPracticeManage.vm">实习管理</a></li>
        <li><a href="adminTeachingResources.vm">教学资源管理</a></li>
        <li><a href="adminInnovation.vm">创新创业管理</a></li>
        <li><a href="adminSocial.vm">社会培训管理</a></li>
        <li class="on"><a href="adminStudent.vm">学生管理</a></li>
    </ul>
    <div class="adminContent">
        <h1 class="mt20 mb20">创建学生管理相关</h1>
        <select class="se" onchange="AdminStudentObject.selectChange()">
            <option value="">创建学生生产性实习安全责任书</option>
            <option value="">创建实习手册</option>
            <option value="">创建顶岗实习评价表</option>

        </select>
        <div class="newsBox1">
            <h2 class="mt20 mb20">创建学生生产性实习安全责任书</h2>

            <input type="file" id="file1" name="file">
            <input type="button" value="上传" onclick="AdminStudentObject.fileUpLoad('file1','安全责任书')"/>
        </div>
        <div class="newsBox2">
            <h2 class="mt20 mb20">创建实习手册</h2>

            <input type="file" id="file2" name="file">
            <input type="button" value="上传" onclick="AdminStudentObject.fileUpLoad('file2','实习手册')"/>
        </div>
        <div class="newsBox3">
            <h2 class="mt20 mb20">创建顶岗实习评价表</h2>
                <input type="file" id="file3" name="file">
                <input type="button" value="上传" onclick="AdminStudentObject.fileUpLoad('file3','顶岗实习评价表')"/>
        </div>
    </div>
    <script src="../../js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="../../js/adminBase.js"></script>
    <script type="text/javascript" src="../../js/adminStudent.js"></script>
</body>
</html>