<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>创建页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/adminCss.css"/>
    <script src="../../js/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../img/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../img/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="../../img/zh-cn.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
<div class="adminHeader"><img src="img/logo2.png">信息管理系统界面</div>
    <ul class="adminNav">

        <li class="on"><a href="adminNotice.vm">新闻管理</a></li>
        <li><a href="adminAbout.vm">关于我们管理</a></li>
        <li><a href="adminPracticeManage.vm">实习管理</a></li>
        <li><a href="adminTeachingResources.vm">教学资源管理</a></li>
        <li><a href="adminInnovation.vm">创新创业管理</a></li>
        <li><a href="adminSocial.vm">社会培训管理</a></li>
        <li><a href="adminStudent.vm">学生管理</a></li>
    </ul>
    <div class="adminContent">
        <h1 class="mt20 mb20">新闻界面创建</h1>
        <select class="se" onchange="AdminNoticeObject.selectChange()">
            <option value="">创建新闻</option>
            <option value="">创建公告</option>
            <option value="">创建图文热点</option>
        </select>
        <div class="newsBox1">
            <h2 class="mt20 mb20">创建新闻</h2>
            <p>
                <span>标题：</span>
                <input class="tit" type="text"/>
            </p>
            <p>
                <span>网址：</span>
                <input class="linkT" type="text"/>
            </p>
            <p>
                <span>封面：</span>
                <div style="padding-right:0px;width: 120px;height: 120px;display: inline-block;">
                    <img onclick="$('input[id=file]').click();" src="img/auditImgDefault.png" width="120" height="120" id="avatar">
                    <input style="display: none" type="file" id="file" name="file" onchange="AdminNoticeObject.imgUpLoad('file','avatar')"/>
                </div>
            </p>
            <p>内容：</p>
            <div id="editor1" type="text/plain"></div>
            <button class="saveBtn" onclick="AdminNoticeObject.saveAll(1,1,'')">保存</button>
        </div>
        <div class="newsBox2">
            <h2 class="mt20 mb20">创建公告</h2>
            <p>
                <span>标题：</span>
                <input class="tit" type="text"/>
            </p>
            <p>
                <span>网址：</span>
                <input class="linkT" type="text"/>
            </p>
            <p>
                <span>封面：</span>
            <div style="padding-right:0px;width: 120px;height: 120px;display: inline-block;">
                <img onclick="$('input[id=file1]').click();" src="img/auditImgDefault.png" width="120" height="120" id="avatar1">
                <input style="display: none" type="file" id="file1" name="file" onchange="AdminNoticeObject.imgUpLoad('file1','avatar1')"/>
            </div>
            </p>
            <p>内容：</p>
            <div id="editor2" type="text/plain"></div>
            <button class="saveBtn" onclick="AdminNoticeObject.saveAll(2,2,1)">保存</button>
        </div>
        <div class="newsBox3">
            <h2 class="mt20 mb20">创建图文热点</h2>
            <p>
                <span>标题：</span>
                <input class="tit" type="text"/>
            </p>
            <p>
                <span>网址：</span>
                <input class="linkT" type="text"/>
            </p>
            <p>
                <span>封面：</span>
               <div style="padding-right:0px;width: 120px;height: 120px;display: inline-block;">
                    <img onclick="$('input[id=file2]').click();" src="img/auditImgDefault.png" width="120" height="120" id="avatar2">
                    <input style="display: none" type="file" id="file2" name="file" onchange="AdminNoticeObject.imgUpLoad('file2','avatar2')"/>
                </div>
            </p>
            <p>内容：</p>
            <div id="editor3" type="text/plain"></div>
            <button class="saveBtn" onclick="AdminNoticeObject.saveAll(3,3,2)">保存</button>
        </div>
    </div>
    <script src="../../js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="../../js/adminBase.js"></script>
    <script type="text/javascript" src="../../js/adminNotice.js"></script>
</body>
</html>