<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/about.css"/>
	</head>
	<body>
		<header>
			<div class="box">
				<img src="../../img/logo.png" />
				<a href="login.vm" class="loginBtn">登陆</a>
			</div>
		</header>
		<nav>
			<a href="index.vm">网站首页</a>
			<a>
				<div class="aboutBtn">关于我们</div>
				<div class="navTwo aboutA">
					<div>学校介绍</div>
					<div>基地介绍</div>
					<div>成果展示</div>
					<div>师资队伍</div>
				</div>
			</a>
			<a>
				<div class="manageBtn">实习管理</div>
				<div class="navTwo manageA">
					<div>实习流程</div>
					<div>岗位目标与要求</div>
					<div>企业产品标准</div>
					<div>安全操作规范</div>
					<div>实习考核标准</div>
				</div>
			</a>
			<a>
				<div class="teachBtn deepBlue">教学资源</div>
				<div class="navTwo teachA">
					<div>企业项目</div>
					<div>资源库</div>
					<!--<div>教学视频</div>-->
				</div>
			</a>
			<a>
				<div class="innovaBtn">创新创业</div>
				<div class="navTwo innovaA">
					<div>众创空间介绍</div>
					<div>学生创新</div>
					<div>校企合作项目</div>
					<div>技术服务</div>
				</div>
			</a>
			<a>
				<div class="socialBtn">社会培训</div>
				<div class="navTwo socialA">
					<div>职业鉴定</div>
					<div>员工培训</div>
					<div>学生实习</div>
				</div>
			</a>
			<a>
				<div class="studentBtn">学生管理</div>
				<div class="navTwo studentA">
					<div>学生考勤管理</div>
					<div>安全责任书</div>
					<div>实习手册</div>
					<div>顶岗实习评价表</div>
				</div>
			</a>
		</nav>
		<div class="detailAboutContent socialDetail">
			<h2 class="tc mt50 mb50">石家庄职业技术学院实训考勤情况<div class="back1">返回</div></h2>
			<table width="100%">
				<tr>
					<th>姓名</th>
					<th>身份证号</th>
					<th>学校</th>
					<th>专业</th>
				</tr>
				<tr>
					<td>张XXX</td>
					<td>123940995859595XXX</td>
					<td>石家庄职业技术学院</td>
					<td>信息技术系</td>
				</tr>
				<tr>
					<td>张XXX</td>
					<td>123940995859595XXX</td>
					<td>石家庄职业技术学院</td>
					<td>信息技术系</td>
				</tr>
				<tr>
					<td>张XXX</td>
					<td>123940995859595XXX</td>
					<td>石家庄职业技术学院</td>
					<td>信息技术系</td>
				</tr>
				<tr>
					<td>张XXX</td>
					<td>123940995859595XXX</td>
					<td>石家庄职业技术学院</td>
					<td>信息技术系</td>
				</tr>
				<tr>
					<td>张XXX</td>
					<td>123940995859595XXX</td>
					<td>石家庄职业技术学院</td>
					<td>信息技术系</td>
				</tr>
			</table>
		</div>
		
		<footer>
			<p class="pt10">中华人民共和国教育部 中国教育网 中国高职高专教育网 河北省教育厅 河北省高职高专教育网 中国高校之窗 长城网</p>
			<p>学院地址：石家庄市中山西路长兴街12号 邮编：050081 电话：0311-85333755 招生热线：0311-85333630，0311-68092994</p>
			<p>设计单位：石家庄职业技术学院  软件学院 冀ICP备14001874号-1</p>
		</footer>
		<script src="../../js/jquery-3.1.0.js"></script>
		<script src="../../js/swiper.min.js"></script>
		<script src="../../js/fenye.js"></script>
		<script src="../../js/base.js"></script>
		<script src="../../js/social.js"></script>
	</body>
</html>
